<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
</head>

<body>
    <h1>用户登陆</h1>
    <form method="POST" action="signIn">
        <p>userName</p>
        <input name="userName" /><br />
        <p>nickName</p>
        <input name="nickName" /><br />
        <p>email</p>
        <input name="email" /><br />
        <br/>
        <button type="submit">submit</button>
    </form>
</body>

</html>